@charset "utf-8";

@font-face {font-family: 'MuseoSlab-500';src: url('/fonts/2D2C3F_0_0.eot');src: url('/fonts/2D2C3F_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2D2C3F_0_0.woff2') format('woff2'),url('/fonts/2D2C3F_0_0.woff') format('woff'),url('/fonts/2D2C3F_0_0.ttf') format('truetype');}

$ptsans: 'PT Sans', sans-serif;
$museoSlab: 'MuseoSlab-500', sans-serif;

$black: #231f20;
$orange: #ef4825;
$lightorange: #f7931e;
$brown: #a67c52;
$darkbrown: #603913;
$yellow: #ffc10e;
$flesh: #fddfbc;

$faqbrown: #ad9b85;
$faqbg: #c7b299;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

*,*:after,*:before {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1.8;
    font-family: $ptsans;
}

img { max-width: 100%; }

@import 'landing';
@import 'grid';
@import 'about';
@import 'about-info';

h1 {
    font-family: $museoSlab;
}

.underline.underline.underline {
    .about & { left: 0; }
    .itinerary & { left: 110px; }
    .reminders & { left: 240px; }
    .faq & { left: 350px; }
    .contact & { left: 450px; }
}

.main-nav {
    width: 100%;
    background-color: $black;
    padding: 1rem;
    position: relative;
    overflow: auto;
    height: 80px;
    font-family: $museoSlab;

    .underline {
        background-image: image-url('link-underline.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100px;
        height: 14px;
        position: absolute;
        left: 0;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }

    li {
        display: inline-block;
        vertical-align: top;
        transition: left ease-in-out 0.1s;
        transform: translate3d(0,0,0);
    }

    ul {
        padding: 0;
        list-style: none;
    }
}

#aboutL:hover ~ .underline { left: 0; }
#itineraryL:hover ~ .underline { left: 110px}
#remindersL:hover ~ .underline { left: 240px}
#faqL:hover ~ .underline { left: 350px}
#contactL:hover ~ .underline { left: 450px}

.logo {
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    background-image: image-url('me-eo-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 280px;
}

.itinerary {
    background-color: $yellow;
}

.itinerary__header {
    background-image: image-url('itinerary/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 1.5rem;
    padding-top: 0.6rem;
    margin-top: 0;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.01em;
    line-height: 3;

    & + p {
        font-size: 2rem;
    }
}

.itinerary__container,
.reminders__container,
.contact__container {
    text-align: center;
    padding: 2rem;
}

.itinerary__block {
    text-align: center;

    .inner__block { padding: 2rem; }

    img {
        border-radius: 50%;
        overflow: hidden;
        display: block;
    }
}

.itinerary__copy {
    font-size: 1.4em;
    color: white;
    margin-top: 1rem;

    span {
        display: block;
        margin-bottom: -.25em;
    }

    .day {
        font-weight: bold;
        color: $darkbrown;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.reminders__header {
    z-index: 2;
    position: relative;
    text-transform: uppercase;
    color: $orange;
    border: 4px dotted $orange;
    display: inline-block;
    margin-bottom: 0;
}

.reminders__subheader {
    position: relative;
    z-index: 2;
    display: block;
}

.coming-soon-img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.faq {
    background-color: $faqbg;
}

.faq__block {
    background-color: $faqbrown;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;

    &:hover {
        background-color: $brown;
        cursor: pointer;
    }

    &:first-child {
        background-color: white;
        pointer-events: none;

        h1 {
            color: $orange;
            font-size: 3em;
            margin-bottom: 0;
            margin-top: 0;
            text-transform: uppercase;

            & + p {
                margin-top: -0.75rem;
            }
        }

        .faq__inner-block {
            border-color: $orange;
        }
    }

    .faq__inner-block {
        padding: 0.5rem;
        border: 4px dotted white;
        height: 100%;
        position: relative;

        h2 {
            line-height: 1;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}


.faq__image {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;

    img {
        max-height: 100%;
    }
}

.lightbox {
    display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black,0.8);
    padding: 3rem;
    overflow: hidden;

    .show--modal & {
        display: block;
    }
}

body.show--modal {
    overflow: hidden;
}

.lightbox__modal {
    background-color: white;
    padding: 1rem;
    margin: auto;
    border: 5px solid $brown;
    position: relative;
    width: 80%;
}

.lb-header {
    text-transform: uppercase;
    color: $orange;
    font-weight: normal;
    line-height: 1.2;
    font-size: 2em;
}

.lb-image {
    display: none;
}

.question {
    color: $orange;
    margin-bottom: 0;

    & + p {
        margin-top: 0;
    }
}

.close-modal {
    display: block;
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: image-url('close-modal.png');
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
}

.contact {
    background-color: $lightorange;
}

.contact__header {
    text-transform: uppercase;
    color: white;
    padding: 1rem 1.5rem;
    background-color: $yellow;
    display: inline-block;

    span {
        display: block;
        padding: 0.5rem 1.5rem;
        border: 2px dotted white;
    }
}

.contact__header-container {
    text-align: center;

    img {
        display: inline-block;
        vertical-align: middle;
        padding: 2rem;
        max-width: 14rem;
    }
}

.contact__form {
    background-color: $flesh;
    padding: 2rem 3rem 4rem 3rem;
    text-align: left;
    max-width: 35rem;
    margin: auto;
    position: relative;
    margin-bottom: 5rem;

    label, input, textarea {
        display: block;
        width: 100%;
    }

    label {
        color: $orange;
    }

    input, textarea {
        margin-bottom: 1rem;
    }
}

.form-message {
    font-size: 1.5rem;
    color: $darkbrown;
    text-align: center;
}

.submit-button {
    background-image: image-url('contact/submit.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    text-indent: -9999px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    display: inline-block;

    width: 10rem;
    height: 5rem;
}

.contact__form .submit-button {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@import 'responsive';