<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "MY EO Next Gen Manila" %></title>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "style" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>
  <script type="text/javascript">

    $('document').ready(function(){
      $(".info__block h2").fitText();
    });


    $('#closeModal').on('click', function(){
      $('body').removeClass("show--modal");
    })

    $('.faq__block').on('click', function(){
      $('body').addClass("show--modal");
    })
  </script>
</html>