<nav class="main-nav">
  <a href="/" class="logo">MyEO Next Gen Manila</a>
  <ul>
    <li id="aboutL"><a href="about-info.html">About</a></li>
    <li id="itineraryL"><a href="itinerary.html">Itinerary</a></li>
    <li id="remindersL"><a href="reminders.html">Reminders</a></li>
    <li id="faqL"><a href="faq.html">FAQs</a></li>
    <li id="contactL"><a href="http://eoaccess.eonetwork.org/Malaysia/Events/Pages/EventDetails.aspx?eID=52549">Register</a></li>
    <li class="underline"></li>
  </ul>
</nav>