<%= partial "shared/nav" %>
<div class="about__content">
  <h1 class="about__header">
    <span class="about__header--content">my eo next gen 2014</span>
    <span class="corner corner-1"></span>
    <span class="corner corner-2"></span>
    <span class="corner corner-3"></span>
    <span class="corner corner-4"></span>
  </h1>
  <p>Watch last year’s video to see what’s in store for you this Spring 2015!</p>
  <div class="about__video--container">
    <div class="about__video">
      <iframe src="//www.youtube.com/embed/4o2nNz6wGVk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>