<%= partial "shared/nav" %>
<div class="about-info__container">

  <div class="block__container">

    <div class="block one-third about-info__block">
      <div class="info__block">
        <h2>What is My EO Next Gen Manila?</h2>
        <p>Travel through time in a unique, once in a lifetime experience in the historic city of Manila where your next generation entrepreneurs:</p>
        <ul>
          <li>learn and hone exciting new skills on creativity, innovation and collaboration</li>
          <li>develop personal leadership</li>
          <li>make new friends from all over the globe</li>
        </ul>
      </div>
    </div>

    <div class="block one-third about-info__block">
      <div class="info__block">
        <%= image_tag "about-info/attendees.jpg" %>
        <h2>Who may attend?</h2>
        <p>Teenagers of EO members and EO-sponsored relatives aged 13–19 years old</p>
      </div>
    </div>

    <div class="block one-third about-info__block">
      <div class="info__block">
        <%= image_tag "about-info/location.jpg" %>
        <h2>When and where?</h2>
        <p><em>2-5 April 2015</em><br>Sofitel Philippines Plaza, Manila Philippines</p>
      </div>
    </div>

    <div class="block one-third about-info__block">
      <div class="info__block">
        <%= image_tag "about-info/fees.jpg" %>
        <h2>Fees and payment</h2>
        <p>U$D 1,500 per participant<br>
          <strong>Early, early-bird fee:</strong>  U$D 1,200 on or before 28 Jan<br>
          <strong>Early-bird fee:</strong>  U$D 1,300 by 28 Feb
        </p>
      </div>
    </div>

    <div class="block one-third about-info__block">
      <div class="info__block">
        <%= image_tag "about-info/sign-up.jpg" %>
        <h2>How do we sign up?</h2>
        <p>for Inquiries and registration details, contact Carlo Buenaflor: <a href="mailto:emailname@email.com">emailname@email.com</a>
          <a href="#">phone: ########</a>
        </p>
      </div>
    </div>

    <div class="block one-third about-info__block--last">
      <div class="info__block">
        <%= image_tag "about-info/see-you.jpg" %>
      </div>
    </div>

  </div>
</div>