<%= partial "shared/nav" %>
<div class="contact__container">

  <div class="contact__header-container">
    <%= image_tag "contact/tel-1.png" %>
    <h1 class="contact__header"><span>Contact Us</span></h1>
    <%= image_tag "contact/tel-2.png" %>
  </div>

  <div class="contact__form">
    <p class="form-message">If you have any questions, feel free to send us a message:</p>
    <label for="email">Your email address:</label>
    <input id="email" type="email"/>
    <label for="subject">Subject:</label>
    <input id="subject" type="text"/>
    <label for="message">Message:</label>
    <textarea id="message" rows="5"></textarea>
    <input type="submit" class="submit-button" />
  </div>
</div>