<%= partial "shared/nav" %>
<div class="faq__container">

  <div class="block__container">

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h1>FAQ</h1>
        <p>Frequently Asked Questions</p>
        <div class="faq__image"><%= image_tag 'faq/faq.png' %></div>
      </div>
    </div>

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h2>Attendees</h2>
        <div class="faq__image"><%= image_tag 'faq/attendees.png' %></div>
      </div>
    </div>

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h2>Transport & <br>Accomodation</h2>
        <div class="faq__image"><%= image_tag 'faq/trans-and-acc.png' %></div>
      </div>
    </div>

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h2>Safety & Security</h2>
        <div class="faq__image"><%= image_tag 'faq/security.png' %></div>
      </div>
    </div>

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h2>Workshop & Program</h2>
        <div class="faq__image"><%= image_tag 'faq/workshop.png' %></div>
      </div>
    </div>

    <div class="block one-third faq__block">
      <div class="faq__inner-block">
        <h2>Miscellaneous <br>Questions</h2>
        <div class="faq__image"><%= image_tag 'faq/misc.png' %></div>
      </div>
    </div>

  </div>
</div>


<div id="lightbox" class="lightbox">

  <div class="lightbox__modal">
    <div class="block__container">
      <div class="block one-third">
        <h2 class="lb-header">Workshop & Program</h2>
        <%= image_tag "faq/workshop.png", class: "lb-image" %>
      </div>

      <div class="block two-thirds">
        <p class="question">What is this program about? Why should I send my child for this and not any other available program?</p>
        <p>This program is specially designed for EO, and is not available to the public. Many of the activities involve EO Members as mentors and case studies.</p>

        <p class="question">What kind of activities? What will the children be doing?</p>
        <p>Much of the program consists of experiential learning, with minimal lectures. The program has a lot of learning and competitive games, so that the children learn in an exciting and fun way.</p>

        <p>They have an opportunity to set up their own business and compete against each other, as if in the real world.</p>

        <p class="question">How would it benefit them?</p>
        <p>This program does not only benefit the children but also the parents.</p>
      </div>

    </div>
    <button id="closeModal" class="close-modal"></button>
  </div>

</div>