<div class="landing-page__container block__container">
  <div class="block one-half landing-page__left">
    <%= image_tag "landing-my-eo.jpg", title: "MY EO Next Gen Manila", class: "landing-page__logo" %>
    <div class="landing-page__copy">
      <p>Give your teens an eye-opening, mind-blowing camp experience this spring break!</p>
      <a href="about.html" class="learn-more"><span>Learn More</span></a>
    </div>
  </div>

  <div class="block one-half">
    <div class="landing-page__links">
      <%= image_tag "landing-page-elements.jpg", class: "base" %>
      <a href="http://eoaccess.eonetwork.org/Malaysia/Events/Pages/EventDetails.aspx?eID=52549" class="contact-image"><%= image_tag "contact.jpg", title: "Register" %></a>
      <a href="itinerary.html" class="itinerary-image"><%= image_tag "itinerary.jpg", title: "Itinerary" %></a>
      <a href="reminders.html" class="reminders-image"><%= image_tag "reminders.jpg", title: "Remidners" %></a>
      <a href="faq.html" class="faq-image"><%= image_tag "faq.jpg", title: "FAQs" %></a>
    </div>
  </div>
</div>