<%= partial "shared/nav" %>
<div class="itinerary__container">
  <h1 class="itinerary__header">Itinerary</h1>
  <p>Here’s a sneak peek of what to expect!</p>

  <div class="block__container">

    <div class="block one-fourth itinerary__block">
      <div class="inner__block">
        <%= image_tag 'itinerary/day-1.jpg' %>
        <div class="itinerary__copy">
          <span class="day">Day 1</span>
          <span class="day-name">Thursday</span>
          <span class="date">April 2</span>
        </div>
      </div>
    </div>

    <div class="block one-fourth itinerary__block">
      <div class="inner__block">
        <%= image_tag 'itinerary/day-2.jpg' %>
        <div class="itinerary__copy">
          <span class="day">Day 2</span>
          <span class="day-name">Friday</span>
          <span class="date">April 3</span>
        </div>
      </div>
    </div>

    <div class="block one-fourth itinerary__block">
      <div class="inner__block">
        <%= image_tag 'itinerary/day-3.jpg' %>
        <div class="itinerary__copy">
          <span class="day">Day 3</span>
          <span class="day-name">Saturday</span>
          <span class="date">April 4</span>
        </div>
      </div>
    </div>

    <div class="block one-fourth itinerary__block">
      <div class="inner__block">
        <%= image_tag 'itinerary/day-4.jpg' %>
        <div class="itinerary__copy">
          <span class="day">Day 4</span>
          <span class="day-name">Sunday</span>
          <span class="date">April 5</span>
        </div>
      </div>
    </div>
  </div>
</div>