<%= partial "shared/nav" %>
<div class="reminders__container">
  <h1 class="reminders__header">Reminders</h1>
  <p class="reminders__subheader">Coming Soon!</p>
  <%= image_tag 'coming-soon.jpg', class: "coming-soon-img" %>
</div>